---
import { type CollectionEntry } from 'astro:content';

import Card from '@components/Card';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Pagination from '@components/Pagination.astro';
import { SITE } from '@config';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';

export interface Props {
    currentPage: number;
    totalPages: number;
    paginatedPosts: Array<CollectionEntry<'blog'>>;
    tag: string;
    tagName: string;
}

const { currentPage, totalPages, paginatedPosts, tag, tagName } = Astro.props;
---

<Layout title={`标签: ${tagName} | ${SITE.title}`}>
    <Header activeNav="tags" />
    <Main pageDesc={`所有包含标签 "${tagName}" 的文章：`}>
        <ul>
            {
                paginatedPosts.map(({ data, slug }) => (
                    <Card href={`/posts/${slug}/`} frontmatter={data} />
                ))
            }
        </ul>
    </Main>

    <Pagination
        {currentPage}
        {totalPages}
        prevUrl={`/tags/${tag}${currentPage - 1 !== 1 ? `/${currentPage - 1}` : ''}/`}
        nextUrl={`/tags/${tag}/${currentPage + 1}/`}
    />

    <Footer noMarginTop={totalPages > 1} />
</Layout>
